/*
 * RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a{
	text-decoration: none;
	color: #000000;
}
a:hover{
	color: red;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * BODY
*/
html{
	width: 960px;
	margin: 0 auto;
	background-color: #220139;
}

/*
 * HEADER
*/

header{
	width: 960px;
	height: 150px;
	margin-top: 30px;
	background-image: url("images/header.png");
}

header #logo{
	float: left;
	margin-left: 50px;
}
header #logo img{

	width: 130px;
	height: 130px;
}

header #registration{
	float: right;
	margin-right: 200px;
	margin-top: 55px;
}

header #registration a{
	font-size: 1.5em;
	text-decoration: none;
}

header #registration a:hover{
	color: red;
}

/*
 * BODY
*/

/*
 * BODY-LEWA KOLUMNA
*/


body{
	width: 960px;
	height: 600px;
}

body #description {
    background-image: url("images/description.png");
    background-repeat: no-repeat;
    float: left;
    height: 440px;
    width: 380px;
}
body #description h2 {
    font-size: 1.3em;
    font-weight: bold;
    padding: 3px 26px;
}
body #description .node {
    background-image: url("images/node.png");
    background-repeat: no-repeat;
    height: 200px;
    padding: 5px 10px 5px 7px;
    width: 340px;
    margin: 0 auto;
}
body #description .node h3 {
    font-size: 1.2em;
    padding-bottom: 8px;
    padding-left: 41px;
    padding-top: 4px;
}

body #description .node p{
	font-size: 1em;
}

body #description .node a{
	float: right;
	margin-right: 10px;
}

/*
 * BODY-PRAWA KOLUMNA
*/

body #login_panel {
    background-image: url("images/login.png");
    float: right;
    height: 130px;
    margin: 80px 100px;
    padding-bottom: 20px;
    width: 230px;
}

body #login_panel h2 {
    font-size: 1.3em;
    padding-bottom: 13px;
    margin-top: 9px;
    margin-left: 13px;
}

body #login_panel p {
    font-size: 1.15em;
    margin-left: 12px;
}
body #login_panel input {
    margin-bottom: 5px;
    width: 150px;
}

body #login_panel #submit{
	width: 70px;
	height: 25px;
	margin-left: 135px;
}

/*
 * FOOTER
*/

footer{
	clear: both;
	width: 960px;
	height: 40px;
	padding-top: 15px;
	background-color: #3f006b;
}

footer .link_footer{
	float: left;
	padding: 5px 10px 10px;
}

footer #rights{
	padding: 5px;
	text-align: center;
}

#user_menu{
    font-size: 25px;
}