{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map-canvas { height: 400px; width: 500px}
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPXQswYEiVGwvSEwWYl5UnXKaNLFYF2I0&sensor=true"></script>
    <script type="text/javascript">
        var marker;
        var map;
        var area;
        var initialLocation;
        var browserSupportFlag = new Boolean();
        var pos;

        function initialize() 
        {
            //Ustawia bierzaca pozycje
            if (navigator.geolocation) {
                browserSupportFlag = true;
                navigator.geolocation.getCurrentPosition(function(position) {
                    initialLocation = new google.maps.LatLng("{{ latitude }}", "{{ longitude }}");  //Pobranie wspolrzednych
                    map.setCenter(initialLocation); //Ustawienie centrum mapy

                    document.getElementsByName('positionX')[0].value = "{{ latitude }}";    //Ustawiam aktualne wartosci dla wspolrzednych
                    document.getElementsByName('positionY')[0].value = "{{ longitude }}";
                    marker = new google.maps.Marker({   //Nowy marker
                        map: map,
                        position: initialLocation,
                        icon: "../static/images/marker.png"
                    });

                    google.maps.event.addListener(map, 'click', function(event) {   //Uzytkownk ustawia swoja pozycje na mapie
                        var lat = event.latLng.lat();
                        var lng = event.latLng.lng();
                        document.getElementsByName('positionX')[0].value = lat; //Wypisuje zaznaczone wspolrzedne
                        document.getElementsByName('positionY')[0].value = lng;
                        initialLocation = new google.maps.LatLng(lat, lng);
                        marker.setMap(null);
                        marker = new google.maps.Marker({
                            map: map,
                            position: initialLocation,
                            icon: "../static/images/marker.png"
                        });
                    });

                }, function() {
                    handleNoGeolocation(browserSupportFlag);
                });
            }
            else {
                browserSupportFlag = false;
            }

            var myOptions = {   //Opcje wyswietlania mapy
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);    //Tworzenie mapy
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
        
{% endblock %}

{% block content %}
    <section id="user_menu">
        <ul>
            <li><a href="/user_panel/">Panel użytkownika</a></li>
        </ul>
    </section>
    <form id="user_data">
        Imię: <input type="text" name="first_name" value="">
        Nazwisko: <input type="text" name="last_name" value="">
        Wiek: <input type="text" name="age" value="">
        E-mail: <input type="email" name="email" value="">
        <p>Lokalizacja X: <input type="text" name="positionX" value=""></p>
        <p>Lokalizacja Y: <input type="text" name="positionY" value=""></p>
        <input type="submit" name="submit" value="Zatwierdź">
    </form>
    <div id="map-canvas"></div>
{% endblock %}