{% extends "base.html" %}
{% load staticfiles %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

{% block stylesheets %}
	{{ block.super }}
	<style type="text/css">
	    html { height: 100% }
	    body { height: 100%; margin: 0; padding: 0 }
	    #map-canvas { height: 95%; width: 100%}
	</style>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPXQswYEiVGwvSEwWYl5UnXKaNLFYF2I0&sensor=true"></script>

	<script type="text/javascript">
        var marker;
        var map;
        var area;
        var initialLocation;
        var browserSupportFlag = new Boolean();
        var pos;

        function initialize()
        {
            //Ustawia bierzaca pozycje
            if (navigator.geolocation) {
                browserSupportFlag = true;
                navigator.geolocation.getCurrentPosition(function(position) {

                    initialLocation = new google.maps.LatLng("{{ latitude }}", "{{ longitude }}");  //Pobranie wspolrzednych
                    map.setCenter(initialLocation); //Ustawienie centrum mapy

                    marker = new google.maps.Marker({   //Nowy marker
                        map: map,
                        position: initialLocation,
                        icon: "{% static 'images/marker.png' %}",
                        title: 'Twoja baza'
                    });
                    var areaOpt = { //opcje obszaru
                        map: map,   //mapa
                        center: new google.maps.LatLng("{{ latitude }}", "{{ longitude }}"),    //pozycja
                        radius: 100,    //promien
                        strokeColor: '#FF0000', //kolor lini
                        strokeOpacity: 0.8, //przezroczystosc lini
                        strokeWeight: 2,    //grubosc lini
                        fillColor: '#FF0000',   //Kolor obszaru
                        fillOpacity: 0.35   //przezroczystosc obszaru
                    };

                    area = new google.maps.Circle(areaOpt); //Rysowanie obszaru na podstawie opcji

                    if("{{ t_latitude }}" && "{{ t_longitude }}")   //Rysowanie okręgu dla misji użytkownka
                    {
                        marker = new google.maps.Marker({   //Nowy marker
                            map: map,
                            position: new google.maps.LatLng("{{ t_latitude }}", "{{ t_longitude }}"),
                            icon: "{% static 'images/marker.png' %}",
                            title: 'Twoja misja'
                        });
                        var areaOpt = { //opcje obszaru
                            map: map,   //mapa
                            center: new google.maps.LatLng("{{ t_latitude }}", "{{ t_longitude }}"),    //pozycja
                            radius: 100,    //promien
                            strokeColor: '#FF0000', //kolor lini
                            strokeOpacity: 0.8, //przezroczystosc lini
                            strokeWeight: 2,    //grubosc lini
                            fillColor: '#FF0000',   //Kolor obszaru
                            fillOpacity: 0.35   //przezroczystosc obszaru
                        };

                        area = new google.maps.Circle(areaOpt); //Rysowanie obszaru na podstawie opcji
                    }


                }, function() {
                    handleNoGeolocation(browserSupportFlag);
                });
            }
            else {
                browserSupportFlag = false;
            }

            var mapOptions = {   //Opcje wyswietlania mapy
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);    //Tworzenie mapy
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
    
{% block content %}
	<section id="user_menu">
		<ul>
			<li><a href="/account/">Ustawienia</a></li>
		</ul>
	</section>

    <div id="map-canvas"></div>

    {% if not t_latitude %}
        <form action="/generate/">
            <input type="submit" id="generate" value="Generuj">
        </form>
    {% endif %}
    <div id="show"></div>
{% endblock %}
